{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="container">
    <div class="row min-vh-100 align-items-center align-content-center">
        <div class="col-md-8 mt-6 mt-md-0 mx-auto">
            <div class="home-text">
                <h1 class="text-dark fs-1 text-center">About Us</h1>
                <h2 class="fs-6 text-center" style="margin-top: 50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod lorem quis imperdiet ornare. Morbi vitae quam mattis, viverra sem vitae, imperdiet elit. Nullam malesuada id ipsum vel fermentum. Aliquam id nibh at nunc volutpat sodales nec non nisl. Sed lobortis posuere pulvinar. Morbi at arcu luctus, pellentesque lorem et, porta nunc. Nam ultricies fringilla dui vitae vestibulum. Proin bibendum, lacus at pellentesque vulputate, urna justo tincidunt nisl, quis convallis lectus mi eget massa. Morbi ultricies lacinia vulputate. Quisque vitae ultricies magna, eu molestie turpis. Donec at eros ullamcorper, dapibus augue id, aliquet lorem. Sed pretium libero mauris, quis ultricies turpis convallis ut. Duis placerat tincidunt magna, id aliquet nunc. Integer risus velit, dictum ultrices tempor non, bibendum in lacus. Curabitur quis pulvinar erat. Pellentesque ac consectetur nibh.</h2>
                <h2 class="fs-6 text-center">Nulla congue non massa vel accumsan. Nullam vitae ornare nulla. Vivamus convallis felis id convallis porta. Vivamus quis ligula ultrices, mollis purus in, finibus lectus. Etiam quis dapibus ante, sit amet convallis nulla. Nullam eros libero, faucibus malesuada elit a, maximus lacinia metus. Integer a placerat libero. Aenean convallis nibh vitae vehicula maximus. Nulla pretium purus vitae eros laoreet, at sagittis quam egestas. Sed libero risus, tristique quis molestie eget, eleifend sit amet sem. Curabitur dictum molestie felis ut accumsan. Phasellus fermentum malesuada vulputate. Praesent ut dignissim nisi. Nullam at lacinia eros.</h2>    
                <h2 class="fs-6 text-center">Fusce feugiat, magna interdum tempus feugiat, nulla nibh dictum erat, eget semper augue lorem auctor arcu. Proin posuere felis non semper rutrum. In ultrices dolor vitae quam vestibulum interdum. Vivamus ullamcorper sapien lectus, vitae egestas neque scelerisque eget. Maecenas tincidunt porttitor risus, congue lacinia sapien ultricies vel. Suspendisse potenti. Sed vulputate quis turpis vel sodales. Donec efficitur ut eros in sagittis. Curabitur sapien mauris, sollicitudin quis ultrices id, sodales nec massa. Etiam mattis ullamcorper gravida. Mauris eu massa accumsan erat tempus sollicitudin. Mauris eros lectus, vestibulum id laoreet eget, vestibulum maximus nulla. Vestibulum id tristique nulla. Aenean ultrices scelerisque ornare. </h2>
            </div>    
        </div>
    </div>
</div>
{% endblock %}


